.header-wrapper {
	background: $white;
	//box-shadow: $box-shadow-xs;
	border-bottom: 1px solid $border-color;
	position: relative;
	z-index: 10;
	max-width: 100%;
	padding: 0 3rem;

	.logo {
		overflow: hidden;
		height: 4.5rem;
		line-height: 4.5rem;
		text-decoration: none;
		white-space: nowrap;

		img {
			height: 2.25rem;
			margin-right: 1rem;
		}

		h1 {
			font-size: $font-size-lg;
			display: inline;
			vertical-align: middle;
			color: $body-color;
		}
	}

	.nav {
		float: right;
		margin: 0;
		line-height: 4.5rem;

		li {
			list-style: none;
			display: inline-block;
			margin-right: 1rem;
		}
	}

	a {
		color: $body-color;

		@include hover-focus-active {
			color: $link-hover-color;
		}
	}
}

.home-page-wrapper #header {
	padding: 0;
	box-shadow: none;
	margin: 1.5rem auto 0;

	#logo {
		padding: 0;
	}
}
