$avatar-default-background: $gray-700;
$avatar-border-radius: $border-radius;
$avatar-font-weight: $font-weight-base;

$avatar-size-base: 2.875rem !default;
$avatar-size-xs: 1.25rem !default;
$avatar-size-sm: 2rem !default;
$avatar-size-lg: 3.5rem !default;
$avatar-size-xl: 4.3rem !default;
