$border-width: 1px !default;

$border-radius: 0.25rem !default;
$border-radius-lg: 0.3rem !default;
$border-radius-xl: 0.35rem !default;
$border-radius-sm: 0.2rem !default;
$border-radius-xs: 0.15rem !default;

$box-shadow-xs: 0.15rem 0.15rem 0 rgba($black, 0.035) !default;
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075) !default;
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175) !default;

$component-active-color: $white !default;
$component-active-bg: theme-color('primary') !default;

$caret-width: 0.3em !default;
