$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
	(
		0: 0,
		1: (
			$spacer * 0.25
		),
		2: (
			$spacer * 0.5
		),
		3: (
			$spacer * 0.75
		),
		4: $spacer,
		5: (
			$spacer * 1.5
		),
		6: (
			$spacer * 2
		),
		7: (
			$spacer * 2.5
		),
		8: (
			$spacer * 3
		)
	),
	$spacers
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
$sizes: map-merge(
	(
		25: 25%,
		50: 50%,
		75: 75%,
		100: 100%,
		auto: auto
	),
	$sizes
);
