.#{$css-prefix}-icon {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: $icon-font-family !important;
	speak: none;
	font-style: normal;
	font-weight: $font-weight-base;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.#{$css-prefix}-icon-xxs {
	font-size: $icon-size-xxs;
}

.#{$css-prefix}-icon-xs {
	font-size: $icon-size-xs;
}

.#{$css-prefix}-icon-sm {
	font-size: $icon-size-sm;
}

.#{$css-prefix}-icon-lg {
	font-size: $icon-size-lg;
}

.#{$css-prefix}-icon-xl {
	font-size: $icon-size-xl;
}

.#{$css-prefix}-icon-alarm:before {
	content: '\e900';
}
.#{$css-prefix}-icon-apartment:before {
	content: '\e901';
}
.#{$css-prefix}-icon-arrow-down-circle:before {
	content: '\e902';
}
.#{$css-prefix}-icon-arrow-down:before {
	content: '\e903';
}
.#{$css-prefix}-icon-arrow-left-circle:before {
	content: '\e904';
}
.#{$css-prefix}-icon-arrow-left:before {
	content: '\e905';
}
.#{$css-prefix}-icon-arrow-right-circle:before {
	content: '\e906';
}
.#{$css-prefix}-icon-arrow-right:before {
	content: '\e907';
}
.#{$css-prefix}-icon-arrow-up-circle:before {
	content: '\e908';
}
.#{$css-prefix}-icon-arrow-up:before {
	content: '\e909';
}
.#{$css-prefix}-icon-bicycle:before {
	content: '\e90a';
}
.#{$css-prefix}-icon-bold:before {
	content: '\e90b';
}
.#{$css-prefix}-icon-book:before {
	content: '\e90c';
}
.#{$css-prefix}-icon-bookmark:before {
	content: '\e90d';
}
.#{$css-prefix}-icon-briefcase:before {
	content: '\e90e';
}
.#{$css-prefix}-icon-bubble:before {
	content: '\e90f';
}
.#{$css-prefix}-icon-bug:before {
	content: '\e910';
}
.#{$css-prefix}-icon-bullhorn:before {
	content: '\e911';
}
.#{$css-prefix}-icon-bus:before {
	content: '\e912';
}
.#{$css-prefix}-icon-calendar-full:before {
	content: '\e913';
}
.#{$css-prefix}-icon-camera-video:before {
	content: '\e914';
}
.#{$css-prefix}-icon-camera:before {
	content: '\e915';
}
.#{$css-prefix}-icon-car:before {
	content: '\e916';
}
.#{$css-prefix}-icon-cart:before {
	content: '\e917';
}
.#{$css-prefix}-icon-chart-bars:before {
	content: '\e918';
}
.#{$css-prefix}-icon-checkmark-circle:before {
	content: '\e919';
}
.#{$css-prefix}-icon-chevron-down-circle:before {
	content: '\e91a';
}
.#{$css-prefix}-icon-chevron-down:before {
	content: '\e91b';
}
.#{$css-prefix}-icon-chevron-left-circle:before {
	content: '\e91c';
}
.#{$css-prefix}-icon-chevron-left:before {
	content: '\e91d';
}
.#{$css-prefix}-icon-chevron-right-circle:before {
	content: '\e91e';
}
.#{$css-prefix}-icon-chevron-right:before {
	content: '\e91f';
}
.#{$css-prefix}-icon-chevron-up-circle:before {
	content: '\e920';
}
.#{$css-prefix}-icon-chevron-up:before {
	content: '\e921';
}
.#{$css-prefix}-icon-circle-minus:before {
	content: '\e922';
}
.#{$css-prefix}-icon-clock:before {
	content: '\e923';
}
.#{$css-prefix}-icon-cloud-check:before {
	content: '\e924';
}
.#{$css-prefix}-icon-cloud-download:before {
	content: '\e925';
}
.#{$css-prefix}-icon-cloud-sync:before {
	content: '\e926';
}
.#{$css-prefix}-icon-cloud-upload:before {
	content: '\e927';
}
.#{$css-prefix}-icon-cloud:before {
	content: '\e928';
}
.#{$css-prefix}-icon-code:before {
	content: '\e929';
}
.#{$css-prefix}-icon-coffee-cup:before {
	content: '\e92a';
}
.#{$css-prefix}-icon-cog:before {
	content: '\e92b';
}
.#{$css-prefix}-icon-construction:before {
	content: '\e92c';
}
.#{$css-prefix}-icon-crop:before {
	content: '\e92d';
}
.#{$css-prefix}-icon-cross-circle:before {
	content: '\e92e';
}
.#{$css-prefix}-icon-cross:before {
	content: '\e92f';
}
.#{$css-prefix}-icon-database:before {
	content: '\e930';
}
.#{$css-prefix}-icon-diamond:before {
	content: '\e931';
}
.#{$css-prefix}-icon-dice:before {
	content: '\e932';
}
.#{$css-prefix}-icon-dinner:before {
	content: '\e933';
}
.#{$css-prefix}-icon-direction-ltr:before {
	content: '\e934';
}
.#{$css-prefix}-icon-direction-rtl:before {
	content: '\e935';
}
.#{$css-prefix}-icon-download:before {
	content: '\e936';
}
.#{$css-prefix}-icon-drop:before {
	content: '\e937';
}
.#{$css-prefix}-icon-earth:before {
	content: '\e938';
}
.#{$css-prefix}-icon-enter-down:before {
	content: '\e939';
}
.#{$css-prefix}-icon-enter:before {
	content: '\e93a';
}
.#{$css-prefix}-icon-envelope:before {
	content: '\e93b';
}
.#{$css-prefix}-icon-exit-up:before {
	content: '\e93c';
}
.#{$css-prefix}-icon-exit:before {
	content: '\e93d';
}
.#{$css-prefix}-icon-eye:before {
	content: '\e93e';
}
.#{$css-prefix}-icon-file-add:before {
	content: '\e93f';
}
.#{$css-prefix}-icon-file-empty:before {
	content: '\e940';
}
.#{$css-prefix}-icon-film-play:before {
	content: '\e941';
}
.#{$css-prefix}-icon-flag:before {
	content: '\e942';
}
.#{$css-prefix}-icon-frame-contract:before {
	content: '\e943';
}
.#{$css-prefix}-icon-frame-expand:before {
	content: '\e944';
}
.#{$css-prefix}-icon-funnel:before {
	content: '\e945';
}
.#{$css-prefix}-icon-gift:before {
	content: '\e946';
}
.#{$css-prefix}-icon-graduation-hat:before {
	content: '\e947';
}
.#{$css-prefix}-icon-hand:before {
	content: '\e948';
}
.#{$css-prefix}-icon-heart-pulse:before {
	content: '\e949';
}
.#{$css-prefix}-icon-heart:before {
	content: '\e94a';
}
.#{$css-prefix}-icon-highlight:before {
	content: '\e94b';
}
.#{$css-prefix}-icon-history:before {
	content: '\e94c';
}
.#{$css-prefix}-icon-home:before {
	content: '\e94d';
}
.#{$css-prefix}-icon-hourglass:before {
	content: '\e94e';
}
.#{$css-prefix}-icon-inbox:before {
	content: '\e94f';
}
.#{$css-prefix}-icon-indent-decrease:before {
	content: '\e950';
}
.#{$css-prefix}-icon-indent-increase:before {
	content: '\e951';
}
.#{$css-prefix}-icon-italic:before {
	content: '\e952';
}
.#{$css-prefix}-icon-keyboard:before {
	content: '\e953';
}
.#{$css-prefix}-icon-laptop-phone:before {
	content: '\e954';
}
.#{$css-prefix}-icon-laptop:before {
	content: '\e955';
}
.#{$css-prefix}-icon-layers:before {
	content: '\e956';
}
.#{$css-prefix}-icon-leaf:before {
	content: '\e957';
}
.#{$css-prefix}-icon-license:before {
	content: '\e958';
}
.#{$css-prefix}-icon-lighter:before {
	content: '\e959';
}
.#{$css-prefix}-icon-line-spacing:before {
	content: '\e95a';
}
.#{$css-prefix}-icon-linearicons:before {
	content: '\e95b';
}
.#{$css-prefix}-icon-link:before {
	content: '\e95c';
}
.#{$css-prefix}-icon-list:before {
	content: '\e95d';
}
.#{$css-prefix}-icon-location:before {
	content: '\e95e';
}
.#{$css-prefix}-icon-lock:before {
	content: '\e95f';
}
.#{$css-prefix}-icon-magic-wand:before {
	content: '\e960';
}
.#{$css-prefix}-icon-magnifier:before {
	content: '\e961';
}
.#{$css-prefix}-icon-map-marker:before {
	content: '\e962';
}
.#{$css-prefix}-icon-map:before {
	content: '\e963';
}
.#{$css-prefix}-icon-menu-circle:before {
	content: '\e964';
}
.#{$css-prefix}-icon-menu:before {
	content: '\e965';
}
.#{$css-prefix}-icon-mic:before {
	content: '\e966';
}
.#{$css-prefix}-icon-moon:before {
	content: '\e967';
}
.#{$css-prefix}-icon-move:before {
	content: '\e968';
}
.#{$css-prefix}-icon-music-note:before {
	content: '\e969';
}
.#{$css-prefix}-icon-mustache:before {
	content: '\e96a';
}
.#{$css-prefix}-icon-neutral:before {
	content: '\e96b';
}
.#{$css-prefix}-icon-page-break:before {
	content: '\e96c';
}
.#{$css-prefix}-icon-paperclip:before {
	content: '\e96d';
}
.#{$css-prefix}-icon-paw:before {
	content: '\e96e';
}
.#{$css-prefix}-icon-pencil:before {
	content: '\e96f';
}
.#{$css-prefix}-icon-phone-handset:before {
	content: '\e970';
}
.#{$css-prefix}-icon-phone:before {
	content: '\e971';
}
.#{$css-prefix}-icon-picture:before {
	content: '\e972';
}
.#{$css-prefix}-icon-pie-chart:before {
	content: '\e973';
}
.#{$css-prefix}-icon-pilcrow:before {
	content: '\e974';
}
.#{$css-prefix}-icon-plus-circle:before {
	content: '\e975';
}
.#{$css-prefix}-icon-pointer-down:before {
	content: '\e976';
}
.#{$css-prefix}-icon-pointer-left:before {
	content: '\e977';
}
.#{$css-prefix}-icon-pointer-right:before {
	content: '\e978';
}
.#{$css-prefix}-icon-pointer-up:before {
	content: '\e979';
}
.#{$css-prefix}-icon-poop:before {
	content: '\e97a';
}
.#{$css-prefix}-icon-power-switch:before {
	content: '\e97b';
}
.#{$css-prefix}-icon-printer:before {
	content: '\e97c';
}
.#{$css-prefix}-icon-pushpin:before {
	content: '\e97d';
}
.#{$css-prefix}-icon-question-circle:before {
	content: '\e97e';
}
.#{$css-prefix}-icon-redo:before {
	content: '\e97f';
}
.#{$css-prefix}-icon-rocket:before {
	content: '\e980';
}
.#{$css-prefix}-icon-sad:before {
	content: '\e981';
}
.#{$css-prefix}-icon-screen:before {
	content: '\e982';
}
.#{$css-prefix}-icon-select:before {
	content: '\e983';
}
.#{$css-prefix}-icon-shirt:before {
	content: '\e984';
}
.#{$css-prefix}-icon-smartphone:before {
	content: '\e985';
}
.#{$css-prefix}-icon-smile:before {
	content: '\e986';
}
.#{$css-prefix}-icon-sort-alpha-asc:before {
	content: '\e987';
}
.#{$css-prefix}-icon-sort-amount-asc:before {
	content: '\e988';
}
.#{$css-prefix}-icon-spell-check:before {
	content: '\e989';
}
.#{$css-prefix}-icon-star-empty:before {
	content: '\e98a';
}
.#{$css-prefix}-icon-star-half:before {
	content: '\e98b';
}
.#{$css-prefix}-icon-star:before {
	content: '\e98c';
}
.#{$css-prefix}-icon-store:before {
	content: '\e98d';
}
.#{$css-prefix}-icon-strikethrough:before {
	content: '\e98e';
}
.#{$css-prefix}-icon-sun:before {
	content: '\e98f';
}
.#{$css-prefix}-icon-sync:before {
	content: '\e990';
}
.#{$css-prefix}-icon-tablet:before {
	content: '\e991';
}
.#{$css-prefix}-icon-tag:before {
	content: '\e992';
}
.#{$css-prefix}-icon-text-align-center:before {
	content: '\e993';
}
.#{$css-prefix}-icon-text-align-justify:before {
	content: '\e994';
}
.#{$css-prefix}-icon-text-align-left:before {
	content: '\e995';
}
.#{$css-prefix}-icon-text-align-right:before {
	content: '\e996';
}
.#{$css-prefix}-icon-text-format-remove:before {
	content: '\e997';
}
.#{$css-prefix}-icon-text-format:before {
	content: '\e998';
}
.#{$css-prefix}-icon-text-size:before {
	content: '\e999';
}
.#{$css-prefix}-icon-thumbs-down:before {
	content: '\e99a';
}
.#{$css-prefix}-icon-thumbs-up:before {
	content: '\e99b';
}
.#{$css-prefix}-icon-train:before {
	content: '\e99c';
}
.#{$css-prefix}-icon-trash:before {
	content: '\e99d';
}
.#{$css-prefix}-icon-underline:before {
	content: '\e99e';
}
.#{$css-prefix}-icon-undo:before {
	content: '\e99f';
}
.#{$css-prefix}-icon-unlink:before {
	content: '\e9a0';
}
.#{$css-prefix}-icon-upload:before {
	content: '\e9a1';
}
.#{$css-prefix}-icon-user:before {
	content: '\e9a2';
}
.#{$css-prefix}-icon-users:before {
	content: '\e9a3';
}
.#{$css-prefix}-icon-volume-high:before {
	content: '\e9a4';
}
.#{$css-prefix}-icon-volume-low:before {
	content: '\e9a5';
}
.#{$css-prefix}-icon-volume-medium:before {
	content: '\e9a6';
}
.#{$css-prefix}-icon-volume:before {
	content: '\e9a7';
}
.#{$css-prefix}-icon-warning:before {
	content: '\e9a8';
}
.#{$css-prefix}-icon-wheelchair:before {
	content: '\e9a9';
}
